[submodule "react-first-project"]
	path = react-first-project
	url = https://github.com/danielrosenthal0/react-first-project.git
[submodule "react-practice-project"]
	path = react-practice-project
	url = https://github.com/danielrosenthal0/react-practice-project.git
[submodule "react-practice-project2"]
	path = react-practice-project2
	url = https://github.com/danielrosenthal0/react-practice-project2.git
[submodule "react-food-order-app"]
	path = react-food-order-app
	url = https://github.com/danielrosenthal0/react-food-order-app.git
[submodule "react-second-project"]
	path = react-second-project
	url = https://github.com/danielrosenthal0/react-second-project.git
[submodule "react-backend"]
	path = react-backend
	url = https://github.com/danielrosenthal0/react-backend.git
[submodule "react-http-hook"]
	path = react-http-hook
	url = https://github.com/danielrosenthal0/react-http-hook.git
[submodule "react-forms"]
	path = react-forms
	url = https://github.com/danielrosenthal0/react-forms.git
[submodule "react-redux"]
	path = react-redux
	url = https://github.com/danielrosenthal0/react-redux.git
[submodule "react-redux2"]
	path = react-redux2
	url = https://github.com/danielrosenthal0/react-redux2.git
